<app-header></app-header>
    <!-- slides -->
    <div id="home"></div>
    <div class="page-header clear-filter " data-parallax="true" style="height:65vh">
        <div class="card card-carousel text-white">
            <div id="frontPageSlides" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="assets/img/slides/banner1.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block ">
                            <blockquote class="blockquote blockquote-primary mb-0">
                                <h3 class="text-primary transparent-text-background">EXPERIENCE AND KNOWLEDGE GIVE US
                                    THE LEADING EDGE TO DO THE JOB RIGHT</h3>
                                <footer class="blockquote-footer">Doyen Prestige </footer>
                            </blockquote>
                        </div>
                    </div>
                    <!-- <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="assets/img/slides/banner2.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="transparent-text-background">If natural Organic crops is what you want, then look no further</h3>
                        </div>
                    </div> -->
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="assets/img/slides/banner4.jpg" alt="Third slide">
                        <!-- <div class="carousel-caption d-none d-md-block">
                            <h3 class="transparent-text-background white-text">Pure nutritional eggs supplies</h3>
                            <h5 class="transparent-text-background white-text">We Are Experts..</h5>
                        </div> -->
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="assets/img/slides/banner3.jpg" alt="Third slide">
                        <!-- <div class="carousel-caption d-none d-md-block">
                            <h3 class="transparent-text-background">Strong healthy layers for eggs productions</h3>
                            <h5 class="transparent-text-background">We Are Here For you..</h5>
                        </div> -->
                    </div>
                </div>
                <a class="carousel-control-prev" href="#frontPageSlides" role="button" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#frontPageSlides" role="button" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- End Carousel Card -->
    </div>

    <div class="main main-raised bg-light-blue">
        <div class="section section-basic">
            <div class="container">
                <!-- part of home section -->
                <h2 class="title text-center">Welcome to Doyen Prestige Electricals</h2>
                <div class="row">
                    <div class=" ml-auto mr-auto text-center">
                        <h5 >
                            As an electrical contracting firm with an expandable Union workforce, we handle electrical
                            contracting
                            jobs, ranging from residential to industrial facilities. Most of our work is in new
                            construction, but we
                            are also experienced in rehabbing and retrofitting buildings with the latest lighting,
                            wireless and
                            security systems.
                        </h5>
                        <h5 >
                            We provide a full range of electrical services from the beginning stages of a project such
                            as
                            design/build or value-engineering, to building maintenance, electrical services and
                            emergency service
                            electrical calls.
                        </h5>
                        <h5 >
                            We work with local and remote general contractors, owners and developers to provide
                            competitive
                            electrical quotes for all types of commercial, residential, industrial and institutional
                            electrical
                            projects
                        </h5>
                    </div>
                </div>
                 <!-- services -->
                <div id="service"></div>
                <div class="space-70"></div>
                <h2 class="title text-center header-bg-img">
                    Our Services
                </h2>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="media hoverable">
                              <img src="./assets/img/services/design.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Design-Build</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/repairs.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">New construction and remodelling</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/cctv.jpg" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">CCTV camera,voice data, video installations</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/solar.jpg" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Solar installations</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/fireAlarm.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Fire Alarm System installations.</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/callService.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Service calls</h4>
                              </div>
                            </li>
                          </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="media my-4">
                              <img src="./assets/img/services/light.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Site lightning installation
                                    Building maintenance</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/interior.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Interior lightning system installations</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/upgrades.jpg" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Retrofitting existing lifting upgrades</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/earth.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Earthing</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/access.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Door entry and keyless system installations (access control)</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/satelite.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Satellite dish installation</h4>
                              </div>
                            </li>
                            <li class="media my-4">
                              <img src="./assets/img/services/generator.png" class="mr-3" alt="...">
                              <div class="media-body">
                                <h4 class="mt-0 mb-1 media-heading ">Back up Generator installations</h4>
                              </div>
                            </li>
                          </ul>
                    </div>
                </div>

                <div id="about-us"></div>
                <div class="space-70"></div>
                <!-- about us section -->
                <div  class="section-team text-center">
                    <h2 class="title header-bg-img ">About Us</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a>
                                        <img class="img" src="./assets/img/about-us/ceo.jpg" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">CEO</h6>
                                    <h4 class="card-title">BRIGHT OSEI-OWUSU</h4>
                                    <p class="card-description">
                                        Bright Osei-Owusu manages field and warehouse operations for Doyen Prestige
                                        Electricals.
                                    </p>
                                    <!-- <a href="" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-google-plus"></i>
                        </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <p>
                                        Doyen Prestige Electricals is a premier electrical contractor for the
                                        construction industry. We
                                        specialize in building relationships with our partners, providing exceptional
                                        customer service with
                                        courtesy and trust. Our knowledge and experience provides you stability, speed
                                        and consistency and
                                        our company values ensure honesty and integrity.
                                    </p>
                                    <p>
                                        Doyen Prestige Electricals & finishing was founded in 2013 by Bright Osei-Owusu
                                        but incorporated as
                                        a limited liability company in 2019. Armed with a few contacts, some residential
                                        work, and a
                                        positive work ethic, they steadily grew the business into a giant in a short
                                        time. From an office
                                        in Kumasi, Ashanti region, they service general contractors, developers and
                                        business owners
                                        throughout Ghana.
                                    </p>

                                    <p>
                                        Doyen Prestige Electricals maintains a core group of excellent electricians,
                                        some who have been
                                        with the company since its inception in 2013. With workplace happiness a core
                                        business essential,
                                        Doyen Prestige Electricals provides staff training and opportunities for
                                        advancement to its
                                        employees. We hire qualified electricians, apprentices and apprentice trainees
                                        and help train,
                                        groom and advance them through to the foremen and project manager levels. </p>

                                    <p>
                                        <a class="btn btn-blue btn-simple btn-round" data-toggle="collapse"
                                            href="#licence" role="button" aria-expanded="false"
                                            aria-controls="multiCollapseExample1">Read Full Licensure</a>
                                        <button class="btn btn-blue btn-simple btn-round" type="button"
                                            data-toggle="collapse" data-target="#safety" aria-expanded="false"
                                            aria-controls="multiCollapseExample2">Read
                                            Safety</button>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="collapse" id="licence">
                                                <div class="card card-body">
                                                    Doyen Prestige Electricals holds an electrical contracting license
                                                    with the Electricity
                                                    Company of Ghana. We are fully insured. Our intimate knowledge of
                                                    the National Electrical Code
                                                    (NEC) means the work is done quickly, efficiently, and correctly —
                                                    the first time.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="collapse" id="safety">
                                                <div class="card card-body">
                                                    An ECG-certified workforce is proof that we take safety seriously.
                                                    Our safety employee
                                                    handbook follows the ECG safety program outline, an extensive set of
                                                    guidelines. Through this,
                                                    we lay out rules for job safety to which our employees must adhere.
                                                    Weekly safety tool talks
                                                    are enforced on all jobsites with multiple employees. All project
                                                    managers are ECG certified.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Portfolio -->
                <div id="portfolio"></div>
                <div class="section">
                    <h2 class="title text-center header-bg-img">Our Portfolio</h2>
                    <!-- isotope button selectors -->
                    <div class="row">
                        <div class="col portfolio-filter text-center">
                            <button class="btn btn-blue btn-round" data-filter="*" type="button">
                                All
                            </button>
                            <button class="btn btn-blue btn-round" data-filter=".commercial"
                                type="button">
                                Commercial
                            </button>
                            <button class="btn btn-blue btn-round" data-filter=".industrial"
                                type="button">
                                Industrial
                            </button>
                            <button class="btn btn-blue btn-round" data-filter=".institutional"
                                type="button">
                                Institutional
                            </button>
                            <button class="btn btn-blue btn-round" data-filter=".residential"
                                type="button">
                                Residential Living Facilities
                            </button>
                        </div>
                    </div>
                    <!-- isotope items -->
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="portfolio-items">
                                <div class="portfolio-item  col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class=" card hoverable">
                                        <img src="assets/img/portfolio/port1.PNG" class=" card-img-top" alt="">
                                    </div>
                                </div>

                                <div class="portfolio-item commercial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/port2.PNG" class="card-img-top" alt="">
                                    </div>
                                </div>

                                <div class="portfolio-item industrial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="assets/img/portfolio/port3.PNG" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item institutional col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/port4.PNG" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item residential col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/port5.PNG" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item industrial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p1.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <!-- <div class="portfolio-item institutional col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p2.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item residential col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p3.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item residential col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p5.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item industrial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p6.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item commercial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p7.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item commercial col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p8.jpg" class="card-img-top" alt="">
                                    </div>
                                </div>
                                <div class="portfolio-item institutional col-sm-6 col-md-4 ml-auto mr-auto">
                                    <div class="card hoverable">
                                        <img src="./assets/img/portfolio/p9.jpg" class="card-img-top" alt="">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- contact us -->
                    <div id="contact" class="section  section-contact-us text-center">
                        <div class="container">
                            <h2 class="title header-bg-img">Your project is very important to us. <br>
                          <small class="text-white">Let's Work for you</small></h2>

                            <div class="row">

                                <div class="card card-nav-tabs col-md-4 ml-auto mr-auto">
                                    <h4 class="card-header" style="background: #2196f3;
                                    color: white">Contact Info</h4>
                                    <div class="card-body">
                                        <div class="icon-block text-center">
                                            <i class="fas fa-map-marker-alt fa-2x"></i>
                                            <h3>
                                                <address>P.O.Box 10927 <br>Adum - Kumasi</address>
                                            </h3>
                                        </div>
                                        <i class="fas fa-headset"></i>
                                        <div class="icon-block text-center">
                                            <h3>
                                                <address>+233 55 474 6274 <br>+233 24 303 6856</address>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-nav-tabs col-md-7 ml-auto mr-auto">
                                    <h4 class="card-header" style="background: #2196f3;
                                    color: white"> Drop a Line</h4>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text"><i class="fas fa-user-circle"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Your First Name...">
                                                </div>
                                            </div>

                                            <div class="text-center ">
                                                <div class="input-group input-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-user-circle"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Your Last Name...">
                                                </div>
                                                <div class="input-group input-lg">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fas fa-at"></i>
                                                        </span>
                                                    </div>
                                                    <input type="email" class="form-control" placeholder="Email...">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="msg" rows="3" placeholder="Please type your message here"></textarea>
                                                </div>

                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                        I agree to terms of service
                                                    </label>
                                                </div>
                                                <div class="send-button">
                                                    <a href="" class="btn btn-blue btn-round btn-lg">Send
                                                        Message</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="text-right" style="position: fixed;bottom: 0;
        right: 0;
        width: 300px;
        border: 3px solid #73AD21;">
            <script language="JavaScript" type="text/javascript">
                TrustLogo("https://doyenprestige.com/sectigo_trust_seal_sm_82x32.png", "CL1", "none");
            </script>
                <a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <app-footer></app-footer>
    </footer>

